*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	display: flex;
	flex-direction: column;
	text-align: center;
}
.header{
	background-color: darkcyan;
	height: 100px;
}
.aside1{
	color: red;
	background-color: darkgray;
	height: 100px;
}
.main{
	background-color: black;
	color: white;
	height: 100px;
}
.aside2{
	background-color: orange;
	color: white;
	height: 100px;
}
footer{
	background-color: red;
	color: white;
	height: 100px;

}

